{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-2">
    <h1>Mail-Chimp Campaign creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
        <input type="submit" value="Create Campaign" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('campaign_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
